/*-----------Global----------------*/
@import "normalize.css";

body {
	max-width: 960px;
	margin: 0px auto;
	font-family: helvetica, sans-serif;
}


a:visited {
	color: #000;
}

a:hover {
	color: #000;
}

a:active {
	color: #000;
}

/*-----------------Media Queries-------------------*/

/*Tablet portrait size 960 (devices and browsers)*/
@media screen and (min-width: 768px) and (max-width: 959px) {
}

/*Mobile landscape to tablet portrait (devices and browsers)*/
@media only screen and (min-width: 480px) and (max-width: 767px) {


/*mobile portrait to mobile landscape (devices and browsers)*/
